.body{
    display: flex;
    padding: 4vw 2vw;
    background-color: rgb(135, 135, 135);
}
.content{
    width: 50%;
    box-sizing: border-box;
}
.box{
    width: 80%;
    height: auto;
    margin: 10px 15%;
    padding: 30px 45px 40px;
    background-color: rgb(180, 180, 180);
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black, inset 
    2px 2px 3px white;
}

h2{
    font-size: 4vw;
    text-shadow: 2px 2px black;
}

#tooltip {
position: relative;
display: inline-block;
}

#tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
font-size: 10px;
padding: 5px 0;
border-radius: 6px;

position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;

opacity: 0;
transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.button{
    width: 25%;
    height: 40px;
    border: 1.5px solid rgb(4, 4, 4);
    border-radius: 6px;
    text-align: center;
    color: azure;
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 1.6vw;
    box-shadow: 2px 2px 3px black;
}
.button:hover{
    box-shadow: 0px 0px 3px 2px black;

}
.button1{
    background-color: blue;
}
.button1:hover{
    color: black;
    background-color: rgb(146, 179, 255);
}
.button2{
    background-color: green;
}
.button2:hover{
    color: black;
    background-color: rgb(158, 250, 158);
}


.flashes{
    list-style: none;
    text-indent: -20px;
    color: red;
}