<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="../static/css/ninja_gold.css">
</head>
<body>
    <div class="container">
        <div class="earnBar">
            <p class="earnTitle">Your Gold:</p>
            <div style="vertical-align:middle" class="earnings">
                <p>{{session['gold']}}</p>
            </div>
            <a class="cashOut" href="/cash_out">Cash Out</a>
        </div>
        <div class="gambleFloor">
            <div class="box">
                <p class="boxName">Farm</p>
                <p class="risk">(earns 10-20 gold)</p>
                <a class="submit" href="/process_money/farm">Find Gold!</a>
            </div>
            <div class="box">
                <p class="boxName">Cave</p>
                <p class="risk">(earns 5-20 gold)</p>
                <a class="submit" href="/process_money/cave">Find Gold!</a>
            </div>
            <div class="box">
                <p class="boxName">House</p>
                <p class="risk">(earns 2-5 gold)</p>
                <a class="submit" href="/process_money/house">Find Gold!</a>
            </div>
            <div class="box">
                <p class="boxName">Casino</p>
                <p class="risk">(earns/takes 0-50 gold)</p>
                <a class="submit" href="/process_money/casino">Find Gold!</a>
            </div>
        </div>
        <div class="logBox">
            <p>Activities:</p>
            <ul class="log">
            {% for activity in session['activities'] %}
                <li>{{activity}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>