<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <style>
        .button{
            display: block;
            background-color: gray;
            width: 60px;
            height: 25px;
            text-align: center;
            border-radius: 5px;
            color: black;
            text-decoration: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome {{display_name}}</h1>

    {% for info in user_info %}
    <h4>{{info.first_name}}</h4>
    <h4>{{info.last_name}}</h4>
    <h4>{{info.email}}</h4>
    {% endfor %}


    <a class="button" href="/logout">Logout</a>
</body>
</html>